/*@font-face {*/
  /*font-family: "Helmet Neue";*/
  /*src: url("./assets/fonts/HelmetNeue-Regular.woff2") format("woff2");*/
/*}*/

#prototype-announcement {
    text-align: center;
    margin: 1rem 0;
    letter-spacing: .3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.02rem;
}

body {
    background-color: black;
    color: white;
    font-family: "Helmet Neue", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}

.container {
    width: 75ch;
    width: min(75ch,90vw);
}

.container.primary {
    width: 100%;
}

.container.text {
	font-size: 1rem;
}

@media (min-width: 800px) {
    .container.text {
        font-size: 1.5rem;
    }
}

.container.image{
    text-align: center;
    padding: 2rem 0;
}

.caption {
    font-size: .9rem;
    color: #c5c5c5;
}

.button {
    all: unset;
    display: inline-block;
    border-radius: 5px;
    padding: .2rem .4rem;
    margin: .5rem;
    cursor: pointer;
}

.button.download{
    background-color: #fa8332;
    border: 2px solid #fa8332;
}

.button.download:hover {
    background-color: black;
}

/* NAV */

nav {
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: .4rem 0;
    background-color: black;
}

.nav-item {
    font-size: 1.2rem;
    color: white;
}

.nav-item:hover {
    color: black;
    background-color: white;
}

@media (min-width: 800px) {
    nav {
        top: 0;
        bottom: auto;
    }
    .nav-item {
        font-size: 1.5rem;
        padding: .2rem .6rem;
    }
}

/* Extra margin at the bottom of mobile devices */
/* so that content is not hidden by the nav bar */
#nav-clear {
    height: 3rem;
}

@media (min-width: 800px) {
    #nav-clear * {
        display: none;
    }
}
