<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ config.base_url }}/style.css">
  <link rel="icon" href="{{ config.base_url }}/favicon.svg">
  <link rel="me" href="https://mastodon.social/@pranabekka">
  <title>{% block title %}{{ config.title | markdown | striptags }}{% endblock %}</title>
</head>

<body>
  <header>
    <img src="/favicon.svg" id="icon">
    <span>{{ config.title }} — <a href="/">Home</a></span>
  </header>
  <main>
      {% block content %} {% endblock %}
  </main>
  <footer>
    <p><a href="#">Go To Top ↑</a></p>
    <hr>
    <p>Please feel free to
      <a href="{{ config.base_url }}/about#contact">contact</a> me
      if you have any feedback,
      from opinions to minor grammar or styling issues.
    </p>
    <hr>
    <p><a href="https://github.com/pranabekka/pranabekka.github.io">Source</a>
  </footer>
</body>

</html>
