<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ config.base_url }}/style.css">
  <link rel="icon" href="{{ config.base_url }}/favicon.svg">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
</head>

<body>
  <header>
    <p class="sitetitle">
      <img src="/favicon.svg" id="icon">
      {{ config.title }}
    </p>
    <nav>
      <a href="{{ config.base_url }}">Home</a>
      <a href="{{ config.base_url }}/contact">Contact</a>
      <a href="{{ config.base_url }}/resume">Resumé</a>
      <a href="{{ config.base_url }}/portfolio">Portfolio</a>
      <a href="{{ config.base_url }}/about">About</a>
    </nav>
  </header>
	<main>
    	{% block content %} {% endblock %}
  </main>
  <footer>
    <p><a href="#">Go To Top ↑</a></p>
    <hr>
    <p>Please feel free to
      <a href="{{ config.base_url }}/contact">contact</a> me
      if you have any feedback,
      from opinions to minor grammar or styling issues.
    </p>
    <p><a href="github.com/pranabekka/pranabekka.github.io">Source</a>
  </footer>
</body>

</html>
