<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ config.base_url }}/style.css">
  <link rel="icon" href="{{ config.base_url }}/favicon.svg">
  <link rel="me" href="https://mastodon.social/@pranabekka">
  <link type="application/atom+xml" rel="alternate" href="{{config.base_url}}/atom.xml" title="{{config.title}}">
  <title>{% block title %}{{ config.title | markdown | striptags }}{% endblock %}</title>
  <script type="module">
    'use strict';
    const headingLinks = Array.from(
      document.getElementsByClassName('zola-anchor')
    );
    for (const ln of headingLinks) {
      const headingId = ln.getAttribute('href').substring(1)
      const heading = document.getElementById(headingId);
      heading.insertAdjacentHTML('afterend', `
        <p class="section-link">
          <a href="#${headingId}">Link to section</a>
          (Right click/hold to copy/share)
        </p>
      `);
      ln.remove();
    }
  </script>
</head>

<body>
  <header>
    <img src="/favicon.svg" id="icon">
    <span>{{ config.title }} — <a href="/">Home</a></span>
  </header>
  <main>
      {% block content %} {% endblock %}
  </main>
  <footer>
    <nav>
      <a href="{{ config.base_url}}">Home</a>
      <a href="#">Go to top ↑</a>
      <a href="{{ config.base_url }}/atom.xml">Web feed</a>
      {% block pagesource %} {% endblock %}
      <a href="https://github.com/pranabekka/pranabekka.github.io">Site source</a>
    </nav>
    <hr>
    <p>Please feel free to
      <a href="{{ config.base_url }}/about#contact">contact</a> me
      if you have any feedback,
      from opinions to minor grammar or styling issues.
    </p>
  </footer>
</body>

</html>
