{% extends "base.html" %}

{% block title %}
{{ section.title | markdown | striptags}}
{% endblock %}

{% block content %}

<h1>
  {{ section.title | markdown | safe }}
</h1>

{% set this_url = section.permalink | as_str %}
{% set base_url = config.base_url ~ "/" %} {# '~' op converts to string #}
{% if this_url == base_url %}
<p>{{ config.description }}</p>
{% endif %}

{{ section.content | safe }}

{% if section.pages %}
<ul class="cards">
  {% for page in section.pages %}
    {% if not page.extra.hidden %}
      <li>
        <h3>
          <a href="{{ page.permalink }}">
            {{ page.title | markdown | striptags | safe }}
          </a>
        </h3>
        <p class="subtitle">
          {{ page.date | date(format="%Y-%m-%d") }}
        </p>
        <p>{{ page.content | split(pat="</p>") | first | trim_start_matches(pat="<p>") | striptags | safe }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
<p><strong>No posts here.</strong></p>
{% endif %}

{# section.pages.1.content | split(pat="</p>") | first | trim_start_matches(pat="<p>") #}

{% endblock content %}
