{% extends "base.html" %}

{% block title %}
{{ section.title | markdown | striptags}}
{% endblock %}

{% block content %}

<h1>
  <img src="/favicon.svg" id="icon">
  {{ section.title | markdown | striptags }}
</h1>

{% set this_url = section.permalink | as_str %}
{% set base_url = config.base_url ~ "/" %} {# '~' op converts to string #}
{% if this_url == base_url %}
<p>{{ config.description }}</p>
{% endif %}

{{ section.content | safe }}

{% if section.pages %}
<p>All dates are in IST (Indian Standard Time).</p>
<ul class="cards">
  {% for page in section.pages %}
    {% if not page.extra.hidden %}
      <li>
        <h2>
          <a href="{{ page.permalink }}">
            {{ page.title | markdown | striptags | safe }}
          </a>
        </h2>
        <p class="subtitle">
          {{ page.date | date(format="%b %d, %Y") }}
          {% if page.updated | date(format="%b %d, %Y") != page.date | date(format="%b %d, %Y") %}
            <svg role="img" aria-label="to (right arrow)"
                 class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <title>to</title>
              <desc>right arrow</desc>
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
            {{ page.updated | date(format="%b %d, %Y") }}
          {%- endif %}
        </p>
        <p>{{ page.content | split(pat="</p>") | first | trim_start_matches(pat="<p>") | striptags | safe }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
<p><strong>No posts here.</strong></p>
{% endif %}

{# section.pages.1.content | split(pat="</p>") | first | trim_start_matches(pat="<p>") #}

{% endblock content %}
