{% extends "base.html" %}

{% block title %}
{{ section.title }}
{% endblock %}

{% block content %}

<h1>
  {{ section.title }}
</h1>
{{ section.content | safe }}
<!--
<h2>All Pages</h2>
-->
<ul class="cards">
  {% for page in section.pages %}
    {% if not page.extra.hidden %}
      <li>
        <h3>
          <a href="{{ page.permalink }}">
            {{ page.title }}
          </a>
        </h3>
        <p class="subtitle">
          {{ page.date | date(format="%Y-%m-%d") }}
        </p>
        <p>{{ page.content | split(pat="</p>") | first | trim_start_matches(pat="<p>") | striptags }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{# section.pages.1.content | split(pat="</p>") | first | trim_start_matches(pat="<p>") #}

{% endblock content %}
