{% extends "base.html" %}

{% block title %}
{{ page.title | markdown | striptags }} - {{ config.title | markdown | striptags }}
{% endblock %}

{% block content %}

<h1>{{ page.title | markdown | striptags }}</h1>

<p class="subtitle">
  {% if page.path | split(pat="/") | nth(n=1) == 'drafts' %}
    <strong>DRAFT</strong> (needs work or removal)
  {% else %}
    {{ page.date | date(format="%b %d, %Y") }}
    {% if page.updated | date(format="%b %d, %Y") != page.date | date(format="%b %d, %Y") %}
      <svg role="img" aria-label="to (right arrow)"
           class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <title>to</title>
        <desc>right arrow</desc>
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
      </svg>
      {{ page.updated | date(format="%b %d, %Y") }}
    {%- endif %}
    (IST)
  {% endif %}
</p>


{% if page.toc %}
  <details class="contents">
    <summary>Show/Hide Contents</summary>
    <ol>
    {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
          <ol>
            {% for h2 in h1.children %}
              <li>
                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              </li>
            {% endfor %}
          </ol>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </details>
{% endif %}
<hr>

{{ page.content | safe }}

{# filter backlinks #}
{# don't want backlinks to same post, index, or drafts #}
{% set filtered_backlinks = [] %}
{% for backlink in page.backlinks %}
  {% set basename = backlink.permalink | split(pat="/") | nth(n=3) %}
  {% if basename != "drafts" and backlink.permalink != page.permalink %}
    {% set name = basename ~ ".md" %}
    {% set backlink_page = get_page(path=name) %}
    {% set_global filtered_backlinks =
      filtered_backlinks | concat(with=backlink_page.date ~ "/" ~ name) %}
  {% endif %}
{% endfor %}

{# render backlinks #}
{% if filtered_backlinks %}
  <hr>
  <p>References to this page:</p>
  <ul>
  {% for backlink in filtered_backlinks | sort | reverse %}
    {% set name = backlink | split(pat="/") | last %}
    {% set backlink_page = get_page(path=name) %}
    <li>
      <a href="{{ backlink_page.permalink }}">{{ backlink_page.title }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock content %}

{% block pagesource %}
<a href="https://github.com/pranabekka/pranabekka.github.io/blob/main/content{{ current_path | trim_end_matches(pat="/") }}.md">
  Page source
</a>
{% endblock pagesource %}
