{% extends "base.html" %}

{% block title %}
{{ page.title }} - {{ config.title | markdown | striptags }}
{% endblock %}

{% block content %}

<h1>{{ page.title }}</h1>

<p class="subtitle">
  {{ page.date | date(format="%b %d, %Y") }}
  {% if page.updated | date(format="%b %d, %Y") != page.date | date(format="%b %d, %Y") %}
    <svg role="img" aria-label="to (right arrow)"
         class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <title>to</title>
      <desc>right arrow</desc>
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
    </svg>
    {{ page.updated | date(format="%b %d, %Y") }}
  {%- endif %}
  (IST)
</p>

{{ page.content | safe }}

<h2>Online Projects</h2>

<p>The projects I've published on the site.</p>
<p><strong>NOTE:</strong>
Most of the projects are still in the PDF (as of Oct 2023).</p>

<div class="folio-grid">

  {# filter backlinks #}
  {# don't show draft posts #}
  {% set filtered_backlinks = [] %}
  {% for backlink in page.backlinks %}
    {% set basename = backlink.permalink | split(pat="/") | nth(n=3) %}
    {% if basename != "drafts" %}
      {% set name = basename ~ ".md" %}
      {% set backlink_page = get_page(path=name) %}
      {% set_global filtered_backlinks =
        filtered_backlinks | concat(with=backlink_page.date ~ "/" ~ name) %}
    {% endif %}
  {% endfor %}

  {% for backlink in filtered_backlinks | sort | reverse %}
    {% set name = backlink | split(pat="/") | last %}
    {% set backlink_page = get_page(path=name) %}
    <a href="{{ backlink_page.permalink }}">
      <img src="{{ config.base_url }}/{{ backlink_page.extra.thumb }}">
      {{ backlink_page.title }}
    </a>
  {% endfor %}

</div>

{% endblock content %}
